:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #2e2f42;
  --logo-colour: #4d5ae5;
  --logo-footer-colour: #f4f4fd;
  --item-text-colour: #434455;
  --footer-text-colour: #e7e9fc;
  --accent-colour: #404bbf;
  --header-colour: #e7e9fc;
  --hero-colour: #2e2f42;
  --team-colour: #f4f4fd;
  --footer-colour: #2e2f42;
  --team-background: #ffffff;
  --frame-colour: #e7e9fc;

  --first-font: "Roboto", sans-serif;

  /* Portfolio var */
  --porfolio-background-colour: #ffffff;
  --portfolio-button-text-colour: #4d5ae5;
  --porfolio-button-background: #f4f4fd;
  --porfolio-text-colour: #434455;
  --portfolio-header-colour: #2e2f42;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  /* border: 1px solid black; */
}

.body {
  font-family: var(--first-font);
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  max-width: 1440px;
  display: block;
  justify-content: center;
  margin: auto;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  width: 1px;
  height: 1px;
  left: -1px;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

/* ----------Header section---------- */
.header {
  border-bottom: 1px solid var(--frame-colour);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.link-style {
  color: var(--secondary-title-color);
  font-weight: 500;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-colour {
  color: var(--logo-colour);
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.link-style.active {
  color: #4d5ae5;
}

.link-style.active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-radius: 2px;
}

.header-navigation {
  display: flex;
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.34;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  text-decoration: none;
}

.header-item {
  margin-right: 40px;
}
.header-item:last-child {
  margin-right: 0;
}

.header-list {
  display: flex;
  margin-left: 76px;
}
.contacts-info {
  display: flex;
  gap: 40px;
}

.header-contacts {
  font-style: normal;
  color: var(--item-text-colour);

  padding-top: 24px;
  padding-bottom: 24px;

  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Header menu */

@media (max-width: 767px) {
  .header-list,
  .contacts-info {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: relative;
  top: 56px;
  left: 410px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 428px;
  height: 796px;

  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
}

.menu-button {
  position: absolute;
  top: 16px;
  right: 16px;
  transform: translate(-24px -16px) scale(1);

  fill: currentColor;
}

.mobile-menu .link-style {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  position: relative;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .active {
  color: #404bbf;
}
.mobile-menu .link-style.active::after {
  display: none;
}

.header-contacts-phone {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
}
.header-contacts-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 40px;
}

.mobile-menu .social-link {
  padding-top: 48px;
  padding-bottom: 25px;
}
.mobile-menu .team-social-link {
  background-color: #f4f4fd;
}

.mobile-link {
  padding-top: 284px;
}

/* /Header menu */

/* ----------/Header section---------- */

/* ----------Hero section---------- */

.hero {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  text-align: center;
  align-content: center;
  background-size: cover;
}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--main-title-color);
  width: 496px;

  margin: 0 auto 48px;
}
.hero-btn {
  font-style: normal;
  font-family: inherit;
  font-size: 16px;

  letter-spacing: 0.04em;
  color: var(--main-title-color);
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;

  align-items: center;
  padding: 16px 32px;
  margin: 0 auto;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--porfolio-background-colour);
  background: var(--accent-colour);
}

/* ----------/Hero section---------- */

/* ----------Advantages sections---------- */

.qualities {
  padding-top: 96px;
  padding-bottom: 96px;
}

.conteiner-advantages {
  display: block;
}

.qualities-list {
  display: block;
}

.list {
}

.qualities-items-list {
  justify-content: center;
}

.icon-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 5%;
  background-color: #f4f4fd;
}
.advantages-icon {
  background-color: #f4f4fd;
  margin: 24px 100px 24px 100px;
}

.qualities-name {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-title-color);

  margin-bottom: 8px;
}
.qualities-text {
  color: var(--item-text-colour);
}
/* ----------/Advantages sections---------- */

/* ----------Examples section---------- */
.examples {
  margin-bottom: 0;
  padding-bottom: 0;
  /* padding-top: 120px; */
  padding-bottom: 120px;
}
.examples-section {
  display: block;
}
.examples-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--secondary-title-color);
  text-align: center;

  margin: 0 auto;
  margin-bottom: 72px;
}
.examples-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.exampless-item {
}

/* ----------/Examples section----------*/

/* ----------Team section---------- */

.team {
  background: var(--team-colour);
}
.container-team {
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--secondary-title-color);
  text-align: center;

  margin-bottom: 72px;
}
.teamt-list {
  display: block;

  gap: 24px;
  padding: 0;
  margin: 0;
}
.list {
}
.team-item {
  background: var(--team-background);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-title-color);
  margin-bottom: 8px;
}
.team-text {
  color: var(--item-text-colour);

  margin-bottom: 8px;
}
.team-content {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.social-link {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-social {
  width: 40px;
  height: 40px;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #ffffff;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
  fill: white;
}

.team-social-link:is(:hover, :focus) {
  background-color: #404bbf;
}

/* ----------/Team section---------- */

/* ----------Customers section---------- */
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.container-customers {
  display: flex;
  flex-direction: column;
}
.customers-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 88px;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
  border-color: #404bbf;
}
.customers-link:is(:hover, :focus) .customer-icon {
  fill: #404bbf;
}

.customer-icon {
  fill: #8e8f99;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------/Customers section---------- */

/* ----------Footer section---------- */

.footer-container {
  display: block;
}

.footer {
  background: var(--footer-colour);
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.34;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-colour);
  text-decoration: none;
}

.footer-head {
  color: var(--header-colour);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-align: center;

  margin-bottom: 16px;
}

.footer-logo-item {
}

.footer-text {
  color: var(--footer-text-colour);
  max-width: 264px;
}

footer .team-social-link {
  background-color: #8e998e61;
}
footer .social-link {
  gap: 16px;
}
footer .team-social-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.footer-form .hero-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 165px;
  height: 40px;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
}
.footer-head {
  width: 100%;
  margin-bottom: 16px;
  color: #ffffff;
}

.footer-form {
}

.footer-form-position {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer-form .form-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: white;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  margin-right: 24px;
}

.subscribe-icon {
  margin-left: 16px;
}

/* ----------/Footer section---------- */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 80px;
}

.is-hidden {
}
.modal {
  width: 408px;
  height: 584px;
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 0 24px 24px 24px;
  padding-top: 72px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  display: flex;
  margin-left: auto;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid #2e2f42;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 24px;
  right: 12px;
  transform: translateX(-50%) scale(1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  fill: black;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:is(:hover, :focus) {
  background-color: #404bbf;
}

.modal-close:hover .close-button {
  fill: white;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(46 47 66 / 20%);
  border-radius: 4px;
  outline: transparent;
  color: #2e2f42;

  padding-left: 36px;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #404bbf;
}
.form-input:focus + .form-icon {
  fill: #404bbf;
}
.form-textarea:focus {
  border-color: #404bbf;
  color: #2e2f42;
}

.form-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgb(46 47 66 / 20%);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  padding-left: 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  display: block;
  padding-top: 8px;
  padding-left: 16px;
}

.form-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  display: block;
  margin-bottom: 4px;
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.form-group {
  margin-bottom: 8px;
}

.form-group:nth-last-child(3) {
  margin-bottom: 16px;
}
.form-control {
  position: relative;
}

.form-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  display: flex;
  align-items: center;
  position: relative;
}
.privacy-text {
  color: #4d5ae5;
}

.form-checkbox-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
}
.form-checkbox-lable span {
  display: flex;
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;

  align-items: center;
  justify-content: center;
}
.form-checkbox:checked + .form-checkbox-icon {
  fill: white;
  background-color: #404bbf;
  border-color: #404bbf;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-icon {
  overflow: hidden;
  border-radius: 0.05em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #4a90e2;
  fill: transparent;
  border-radius: 2px;

  position: absolute;
  left: 0;
  top: 25%;
  transform: translateY(-25%);
}

.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.modal-form .hero-btn {
  width: 169px;
  margin-top: 24px;

  display: block;
  justify-content: center;
}

/* ----------Portfplio.html---------- */
.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  gap: 24px;
  margin-bottom: 72px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button-item:hover,
.main-button-item:focus {
  color: var(--porfolio-background-colour);
  background: var(--accent-colour);
  border-color: var(--accent-colour);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-button-item {
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  background: var(--porfolio-button-background);
  border: 1px solid var(--footer-text-colour);
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--portfolio-button-text-colour);
  font-family: inherit;
  line-height: 1.5;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.preview {
}
.preview-container {
}
.preview-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  gap: 48px 22px;
}
.preview-item {
  flex-basis: calc((100% / 3) - 15px);
}
.item-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.item-link {
  display: block;
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.preview-text {
  border-left: var(--frame-colour);
  border-bottom: var(--frame-colour);
  border-left: var(--frame-colour);
  border: 1px solid var(--frame-colour);
  border-top: none;

  padding: 32px 16px;
}

.item-top {
  position: relative;
  overflow: hidden;
}

.preview-item-text-overlay {
  background-color: #4d5ae5;
  mix-blend-mode: normal;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  padding: 40px 32px 164px 32px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link:hover .preview-item-text-overlay {
  transform: translateY(0);
}
.preview-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--portfolio-header-colour);

  margin-bottom: 8px;
}

.preview-test {
  color: var(--porfolio-text-colour);
}

/* ----------/Portfplio.html---------- */

/* -------------------- Mobile-Wiew-section -------------------- */

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }
  /* ----------Team section---------- */
  .container-team {
    padding-top: 96px;
    padding-bottom: 128px;
    padding-left: 72px;
    padding-right: 72px;
    margin: 0 auto;
  }

  .team-item {
    margin-bottom: 72px;
  }

  .team-item:last-child {
    margin-bottom: 0;
  }
  /* ----------/Team section---------- */

  /* ----------Customers section---------- */

  .customers-item {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    width: calc((100% - 12px * 3) / 2);
  }

  .customers-link {
    width: 190px;
  }
  .customers-list {
    padding-bottom: 120px;
    gap: 72px 16px;
  }
  .container-customers {
    margin-left: auto;
    margin-right: auto;
  }
  /* ----------/Customers section---------- */

  /* ----------Advantages sections---------- */
  .icon-style {
    display: none;
  }
  .qualities-text {
    /* width: 396px; */
  }
  .qualities-name {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }
  .conteiner-advantages {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .qualities-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .qualities-text {
    font-weight: 500;
  }
  /* ----------/Advantages sections---------- */

  /* ----------Examples section----------*/
  .examples-section {
    display: none;
  }
  /* ----------/Examples section----------*/

  /* ----------Footer section---------- */
  .footer-container {
    padding-top: 96px;
    padding-bottom: 96px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-logo-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 72px;
  }

  footer .social-link {
    margin-bottom: 72px;
  }

  .footer-form-position {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }

  .footer-form .form-input {
    width: 398px;
    margin-right: 0;
  }
  /* ----------/Footer section---------- */

  /* ----------/Hero section---------- */
  .hero-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    font-size: 36px;
    line-height: 1.11;
    width: 320px;
    margin: 0 auto;
    padding-bottom: 72px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mobile.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-mobile-x2.jpg);
    }
  }
  /* ----------Header section---------- */

  .container-nav {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 70px;
  }
  .menu-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobile-menu-list {
    padding-top: 65px;
  }
}

/* -------------------- /Mobile-Wiew-section -------------------- */

/* -------------------- Tablet-Wiew-section -------------------- */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .team {
  }
  .teamt-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 64px 24px;

    flex-basis: calc((100% - 24px * 3) / 2);
  }

  .team-item {
    margin-bottom: 0;
  }

  /* ----------Customers section---------- */
  .customers {
    margin-bottom: 0;
  }

  .customers-item {
    width: calc((100% - 24px * 8) / 3);
    padding: 0;
  }
  .customers-list {
    gap: 72px 24px;
    padding-bottom: 0;
  }
  .customers-link {
    width: 168px;
  }

  /* ----------/Customers section---------- */

  /* ----------Advantages sections---------- */

  .conteiner-advantages {
  }
  .qualities {
    padding-top: 96px;
  }
  .qualities-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .qualities-items-list {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 24px) / 2);
  }

  .qualities-text {
    font-weight: 500;
  }
  .qualities-items-list {
    justify-content: initial;
  }
  /* ----------Advantages sections---------- */

  /* ----------Footer section---------- */
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
    gap: 24px;
  }
  .footer {
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-logo-item {
    align-items: start;
  }

  .footer-logo {
    margin-bottom: 16px;
  }

  .footer-form-position {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 16px;
  }

  .footer-form .form-input {
    width: 264px;
  }
  .footer {
  }
  /* ----------/Footer section---------- */
  /* ----------/Hero section---------- */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tablet-x2.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.11;
    width: 496px;
  }
  /* ----------Header section---------- */
  .header-list,
  .contacts-info {
    display: initial;
  }

  .header-list {
    display: flex;
    flex-direction: row;
  }
}

/* -------------------- /Tablet-Wiew-section -------------------- */

/* -------------------- Desktop-Wiew-section -------------------- */

@media screen and (min-width: 1140px) {
  .container {
    width: 1440px;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-item {
    flex-basis: calc((100% / 4) - 18px);
  }

  /* ----------Customers section---------- */

  .customers-item {
    width: calc((100% - 20px * 5) / 7);
  }
  /* ----------/Customers section---------- */

  /* ----------Advantages sections---------- */
  .icon-style {
    display: initial;
  }
  .qualities-items-list {
    width: 264px;
    text-align: start;
    justify-content: initial;
  }

  .qualities-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
  .qualities-text {
    max-width: 264px;
  }
  .qualities-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    max-width: 264px;
    text-align: start;
  }
  .qualities-text {
    font-weight: 400;
  }

  /* ----------/Advantages sections---------- */

  /* ----------Examples section----------*/
  .examples-section {
    display: initial;
    padding-left: auto;
    padding-right: auto;
  }
  /* ----------/Examples section----------*/

  /* ----------Footer section---------- */

  .footer-logo-item {
    display: block;
    margin-right: 120px;
  }
  .footermedia {
    margin-right: 80px;
  }

  .footer-container {
    gap: 0;
  }
  .footer-form-position {
    align-items: start;
  }

  .footer-head {
    text-align: left;
  }
  /* ----------/Footer section---------- */

  /* ----------Hero section---------- */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-x2.jpg);
    }
  }

  .hero-container {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.11;
  }

  .menu-container {
    display: none;
  }

  /* Header section */
  .contacts-info {
    display: flex;
  }

  .container-nav {
    padding-left: 156px;
    padding-right: 156px;
    height: 70px;
  }
}

/* -------------------- /Desktop-Wiew-section -------------------- */
